/* Global */
* {
  margin: 0;
  padding: 0;
  border: 0;
}

a:link, a:visited {
  color: #952;
  text-decoration: none;
}

a:hover, a:active {
  color: #cb7d20;
  border-bottom: 1px dashed #cb7d20;
}

p + h2 {
  margin-top: 1em;
  padding-top: 1em;
  border-top: 2px solid #999;
}

p {
  margin: 0 0 1em;
  font-size: 1em;
  line-height: 2;
}

body {
  font: 100% Georgia, "Times New Roman", Times, serif;
  background: #3C6B92;
}

/* ^2 ------ global classes -------- */
.clear {
  clear: both;
}
span.accent {
  display: block;
  text-align: right;
}
#mainContent img.articleImage {
  display: block;
  margin: 1em 0;
}
.callOut {
  margin-bottom: 25px;
  padding: 25px;
  width: 385px;
  background: #e1d8b9;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 0px;
}

/* ^3 ------------- home page specfic layout styles ----------- */
#home #wrapper {
  background: #000 url(../img/home_page_back.jpg) no-repeat 0 100px;
}

#actionCall {
  height: 328px;
  clear: both;
  border-top: 1px solid #757575;
}

#actionCall h2 {
  margin: 70px 0 0 607px;
  font: normal 2.8em Helvetica, Arial, sans-serif;
  color: #fff;
  text-shadow: 1px 0px 0px #000;
  filter: drop-shadow(1px 0 0 #000000);
  letter-spacing:1px;
}

#actionCall a:link, #actionCall a:visited {
  display:block;
  margin: 70px 0 0 783px;
  width: 285px;
  height: 55px;
  background: url(../img/tour_badge.png) no-repeat;
  border: none;
}

#actionCall a:hover, #actionCall a:active {
  background-position: left bottom;
}

#actionCall h3 {
  text-indent:-1000em;
}

#home #contentWrapper{
  margin: 0 25px;
  padding: 25px;
  width: 1180px;
  background: #fff;
  background: rgba(255,255,255, 0.9);
  float: left;
}

#home #mainContent {
  margin-right: 0;
  padding-right: 0;
  width: 700px;
  float: right;
}

#home #secondaryContent {
  margin-top: 0;
  width: 400px;
  float: left;
}

#home #mainContent h2, #home #secondaryContent h2 {
  margin: 1em 0 .5em;
  padding-top: 2em;
  border-top: 2px solid #999;
}

#home #mainContent h2:first-child, #home #secondaryContent h2:first-child {
  margin: 0 0 .25em;
  padding-top: 0;
  border: none;
}

#home #mainContent p + h2 {
  margin-top: 1em;
  padding-top: 1em;
  border-top: 2px solid #999;
}

#home #mainContent p {
  margin: 1em 0;
  font-size: 1em;
  line-height: 2;
}

#home #mainContent p.spotlight {
  padding-right: 200px;
  background: url(../img/cycle_logo.png) no-repeat top right;
}

#home video {
  margin: 1em 0;
}

#home p.videoText {
  width: 525px;
}

/* ^4 --------------------- base layout styles ------------------- */
#wrapper {
  margin: 25px auto 0;
  padding: 0;
  width: 1280px;
  background: #fff;
  text-align: left;
  position: relative;
  z-index: 1; /*fix for IE menu issues*/
}

#mainHeader {
  position: relative;
  float: left;
  z-index: 2; /*fix for IE menu issues*/
}

#mainContent {
  margin-right: 25px;
  width: 740px;
  float: right;
  overflow: hidden;
}

#secondaryContent {
  margin-top: 150px;
  width: 440px;
  padding-left: 25px;
  float: left;
}

#pageFooter {
  width: 100%;
  height: 320px;
  background: #e1d8b9;
  clear:both;
  overflow: auto;
  border-top: 1px solid #757575;
}

/* ^5----------------------- region-detail styles ------------------------ */
/*  header  ^5a*/

#mainHeader a.logo:hover {
  border: none;
}

#mainHeader a.logo {
  display: block;
  width: 192px;
  height: 237px;
  background: url(../img/logo.gif) no-repeat;
  position: absolute;
  top: -25px;
  left: 50px;
  text-indent: -1000em;
  z-index: 2000;
}

/* navigation ^5b*/
#siteNav h2 {
  display: none;
}

#siteNav ul {
  margin:0;
  padding:0;
  list-style: none;
  float: left;
}

#siteNav > ul {
  padding-left: 242px; /*allow logo to clear*/
  width: 1038px; /*add padding-left for total width*/
  height: 100px;
  background-color: #b3b3b3;
}

#siteNav ul > li {
  margin:2.5em 0 0;
  padding: 0;
  float: left;
  position: relative;
}

#siteNav li a:link, #siteNav li a:visited {
  display: block;
  padding: 0 25px;
  border-right: 2px solid #3c6b92;
  font: 1.1em Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  color: #3c6b92;
  text-align: center;
  letter-spacing: .1em;
}

#siteNav li a.current, #siteNav li a.current:hover {
  color: #fff;
  cursor: default;
}

#siteNav li a:hover, #siteNav li a:active {
  color: #fff;
  border-bottom: none;
}

#siteNav li a:link span.tagline, #siteNav li a:visited span.tagline {
  padding-top: .5em;
  font: italic .8em Georgia, "Times New Roman", Times, serif;
  color: #fff;
  text-transform: none;
  letter-spacing: 0;
}

#siteNav li:last-child a {
  border-right: none;
}

#siteNav li ul {
  display: none;
  width: 100%;
  box-shadow: 2px 2px 5px #333;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px; 
  background: #fff;
  position: absolute;
  top: 30px;
  left: auto;
}

.no-js #siteNav li:hover ul, .no-js #siteNav li ul:hover {
  display: block;
}

#siteNav li ul li {
  margin:0;
  padding: 0;
  float:none;
}

#siteNav li ul a:link, #siteNav li ul a:visited {
  display:block;
  padding: 0 1em;
  font:normal .7em Helvetica, Arial, sans-serif;
  line-height: 2.5em;
  text-align: center;
  color: #3c6b92;
  border-right: none;
  letter-spacing: 0;
  border-bottom: 1px solid #3c6b92;
}

#siteNav li ul a:hover, #siteNav li ul a:active {
  color: #fff;
  background: #3c6b92;
}

/* mainContent ^5c */
#mainContent #contentHeader {
  margin-bottom: 6em;
}

/* keep headlines the same when crumbs are present */
#wrapper #mainContent div.hasCrumbs {
  margin-bottom: 4em;
}

#mainContent #contentHeader h1 {
  margin-top: 1.6em;
  padding-bottom: .1em;
  font: normal 1.2em Helvetica, Helvetica, Arial, sans-serif;
  letter-spacing: 1px;
  border-bottom: 2px solid #3c6b92;
  color: #3c6b92;
}

#mainContent h3{
  margin: 1em 0 0;
  font: normal 1.4em Helvetica, Helvetica, Arial, sans-serif;
  color: #3c6b92;
}

#mainContent h3{
  margin: 1em 0 0;
  font: bold 1.2em Helvetica, Helvetica, Arial, sans-serif;
  color: #3c6b92;
}

#mainContent #mainArticle {
  margin-bottom: 50px;
  float: left;
}

#mainContent #mainArticle pre {
  display: block;
  margin-left: 25px;
  padding: 25px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: .9em;
  background: #eee;
  border: 1px solid #ccc;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 0px;
}

#mainContent #mainArticle .multiCol {
  column-count: 2;
  column-gap: 25px;
}

#mainContent #mainArticle h2 {
  margin: 1.2em 0 .2em;
  font: normal 2em Helvetica, Arial, sans-serif;
  color: #3c6b92;
}

#mainContent #mainArticle #supportOptions h3{
  font: normal 1.4em Helvetica, Arial, sans-serif;
  color: #2c566a;
}

#mainContent #mainArticle h3 span.tourCost {
  display: block;
  margin-top: .5em;
  margin-bottom: 1em;
  padding-bottom: .25em;
  font-size: .8em;
  color: #666;
  font-style: italic;
  border-bottom: 1px solid #666;
}

#mainContent #mainArticle ul {
  margin: 1em 0;
  padding: 0;
  list-style: none;
}

#mainContent #mainArticle ul ul {
  margin: 1.4em 0 1em 0;
}

#mainContent #mainArticle li {
  margin: 0 0 1.2em 2.4em;
  padding: 0 0 0 24px;
  background: url(../img/star_bullet.gif) no-repeat 0 2px;
  font-size: 1em;
  color: #51341a;
}

#mainContent #mainArticle li li {
  margin-bottom: .7em;
  font-size: 100%;
}

#mainContent #mainArticle ul.faqNav {
  padding: 0;
  width: 650px;
  column-count: 3;
  column-gap: 16px;
}

#mainContent #mainArticle ul.faqNav li {
  padding: 0;
  background: none;
  font-size: .8em;
}

#mainContent #mainArticle ul.faqNav a {
  display: block;
  padding: 5px;
  width: 100%;
  background: #cb7d20;
  font-family: Helvetica, Arial, sans-serif;
  color: #fff;
  text-align: center;
}

#mainContent #mainArticle ul.faqNav a:hover {
  background: #952;
  border: none;
}

#mainContent div.tourDescription {
  margin-bottom: 15px;
  padding: 10px 0;
  border-top: 2px solid #2c566a;
  float: left;
  clear: left;
}

#mainContent .tourDescription h3 {
  margin-bottom: .5em;
  font-size: 1.6em;
  color: #193742;
  font-weight: bold;
  clear: right;
}

#mainContent .tourDescription h3.price {
  margin: -1.6em 0 1em;
  font-size: 1.2em;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #666;
  font-weight: normal;
  font-style: italic;
  text-align: right;
  clear: right;
}

#mainContent .tourDescription p {
  font-size: .9em;
  line-height: 2;
}

#mainContent .tourDescription span.option {
  display:block;
  font-weight: bold;
  text-align: right;
}

#mainContent .tourDescription img {
  padding: 10px 10px 10px 0;
  float: left;
}

#mainContent .tourDescription a.more {
  display:block;
  margin: 15px 0 0 15px;
  width: 95px;
  height: 30px;
  float: right;
  background: url(../img/more_bug.gif) no-repeat left top;
  text-indent: -1000em;
}

#mainContent a.book {
  display:block;
  margin: 15px 0 0 15px;
  width: 95px;
  height: 30px;
  float: right;
  background: url(../img/book_bug.gif) no-repeat left top;
  text-indent: -1000em;
}

#mainContent a.detail {
  float: left;
}

#mainContent .tourDescription a.more:hover,#mainContent a.book:hover {
  background-position: right top;
  border: none;
}

#mainContent #mainArticle dl.faq {
  margin-bottom: 1em;
  padding-bottom: 1em;
  border-bottom: 1px solid #999;
}

#mainContent #mainArticle dl.faq dt {
  margin: 1em 0 .5em;
  padding: 0;
  font: normal bold .9em Helvetica, Arial, sans-serif;
  color: #333;
  letter-spacing: 1px;
}

#mainContent #mainArticle dl.faq dd {
  margin: 0;
  padding: 0 0 0 2em;
  font-size: .9em;
  line-height: 1.4;
  color: #333;
  text-align: justify;
}

#mainContent #mainArticle p a.top {
  padding-left: 30px;
  text-align: right;
  background: url(../img/return_top.gif) no-repeat;
  line-height: 20px;
  float: right;
}

#mainContent #mainArticle p a.top:hover {
  border: none;
  color: #333;
}

/* data tables ^5d */
/*simple tables*/
#mainContent table.simple {
  margin: 1em 0 1em;
  width: 90%;
  background: #c3cebc;
  border: none;
  border: 1px solid #666;
  border-collapse: collapse;
}

#mainContent table.small {
  margin: 1em 0 1em;
  width: 60%;
  border: none;
}

#mainContent table.simple thead {
  background: #555;
  border-bottom: 1px solid #000;
}

#mainContent table.simple thead th {
  padding: 0 10px;
  font-size: .8em;
  font-weight: normal;
  text-align: left;
  line-height: 2.6em;
  color: #fff;
}

#mainContent table.simple caption {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.2em;
  text-align: left;
  font-family: Helvetica, Arial, sans-serif;
}

#mainContent table.simple caption time {
  display: block;
  font-size: .6em;
  font-style: italic;
  text-align: right;
  text-transform: lowercase;
  position: relative;
  right: 0;
  top: -1.4em;
}

#mainContent table.simple th, #mainContent table.simple td {
  padding-left: 1em;
  font-family: Helvetica, Helvetica, Arial, sans-serif;
  font-size: .8em;
  text-align: left;
  line-height: 3;
}

#mainContent table.simple td {
  border: 1px solid #666;
}

#mainContent table.small td {
  border: none;
}

#mainContent table.simple tr:nth-child(odd) {
  background: #e1d8b9;
}

/*complex tables*/
#mainContent table.complex {
  margin: 1em auto 1em;
  width: 95%;
  font-family: Helvetica, Helvetica, Arial, sans-serif;
  font-size: 0.9em;
  border-collapse: collapse;
  border: 1px solid #333;
  background: #e1d8b9;
}

#mainContent table.complex caption {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.2em;
  text-align: left;
  font-family: Helvetica, Arial, sans-serif;
}

#mainContent table.complex th{
  padding: 0 10px;
  font-size: 1em;
  font-weight: normal;
  text-align: left;
  line-height: 2.6em;
  color: #FFF;
  background: #555;
  border-bottom: 1px solid #000;
}

#mainContent table.complex thead {
  height: 40px;
  background: url(../img/thead_back.gif) repeat-x left top;
}

#mainContent table.complex thead th {
  background: none;
  color: #000;
  text-align:left;
  border: 1px solid #333;
}

#mainContent table.complex td {
  padding: 0 10px;
  border: 1px solid #333;
  font-size: .8em;
}

#mainContent #trailType, #mainContent #trailPath, #mainContent #trailRating {
  background: #fff;
}

/* form styling ^5f */
#mainContent #mainArticle form p {
  margin: 0 0 20px 20px;
  color: #193742;
}

#mainContent #mainArticle form p.subHead {
  margin: 0 0 0 20px;
  clear: both;
}

#mainContent #mainArticle form label.subHead {
  display: block;
  margin: 0;
  width: auto;
  float: none;
}

#mainContent form {
  font: normal .9em Arial, Helvetica, sans-serif;
  color: #193742;
}

#mainContent fieldset {
  margin: 0 0 2em;
  padding: 40px 20px 20px 20px;
  background-color: #e1d8b9;
  width: 650px;
  border: none;
  position: relative;
  border-top-left-radius: 20px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}

#mainContent fieldset legend {
  margin: 0;
  padding: 0;
  color: #51341a;
}

#mainContent legend strong {
  margin-left: 20px;
  margin-top: 10px;
  font-size: 1.2em;
  position: absolute;
}

#mainContent input[type="text"], #mainContent input[type="email"],#mainContent input[type="password"],#mainContent input[type="tel"],#mainContent input[type="url"] {
  padding-right: 25px;
  width: 350px;
}

#mainContent textarea {
  width: 500px;
  height: 150px;
}

#mainContent form label {
  margin-right: .50em;
  width: 80px;
  float: left;
  clear: left;
}

#mainContent form label.inline {
  width: auto;
  float: none;
}

#mainContent #mainArticle form ol {
  margin: 0;
  padding: 0;
  list-style:none;
}

#mainContent #mainArticle form li {
  margin: 0;
  padding: 0;
  background: none;
}

#mainContent form input[required] {
  border-right: 4px solid #cb202a;
}

/*contact form*/
#mainContent form#frmContact .col1 {
  margin-right: 20px;
  margin-bottom: 1em;
  padding-left: 20px;
  width: 160px;
  float: left;
}

#mainContent form#frmContact .col2, #mainContent form#frmContact .col3 {
  margin-right: 20px;
  width: 170px;
  float: left;
}

#mainContent form#frmContact div p {
  margin: 0 0 .5em 0;
}

#mainContent form#frmContact div label {
  display: inline;
  font-size: .9em;
  float: none;
}

/* secondaryContent ^5g */
#secondaryContent h2 {
  margin-bottom: 1em;
  padding-bottom: .1em;
  font: normal 1.5em Helvetica, Arial, sans-serif;
  font-weight: normal;
  color: #3c6b92;
  border-bottom: 2px solid #3c6b92;
}

#secondaryContent #specials h3 {
  margin-bottom: 0;
  padding-top: 1em;
  font-size: 1.2em;
  font-family: Helvetica, Arial, sans-serif;
  color: #193742;
  border-top: 2px solid #999;
  font-weight: normal;
  clear: both;
  letter-spacing:1px;
}

#secondaryContent #specials h3.top {
  margin-top: 1em;
  border:none;
}

#secondaryContent #specials p {
  margin: .5em 0;
  font-style: italic;
  text-align: right;
  line-height: 1.6;
}

#secondaryContent #specials img {
  padding-bottom: 1em;
  padding-right: 2em;
  float: left;
}

/* footer region ^5h */  
#pageFooter div {
  padding-top: 25px;
  width: 341px;
  float: left;
}

#pageFooter div:first-child {
  margin-left: 128px;
}

#pageFooter div h2 {
  margin-bottom: 1em;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1em;
  letter-spacing:1px;
  color: #3c6b92;
  text-transform: uppercase;
}

#pageFooter div h3 {
  margin-bottom: 1em;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.5em;
  letter-spacing:1px;
  color: #666;
}

#pageFooter div p {
  margin-bottom: 1em;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1em;
  color: #666;
}

#pageFooter div ul {
  margin: 0;
  padding:0;
  list-style: none;
}

#pageFooter div li {
  margin-bottom: 1em;
}

#pageFooter div li a:link, #pageFooter div li a:visited {
  font-family: Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  color: #666;
}

#pageFooter div li a:hover, #pageFooter div li a:active {
  color: #fff;
  border: none;
}

#pageFooter .copyright {
  margin-bottom: 1em;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1em;
  color: #666;
  text-align: center;
  clear: both;
}

.copyright {
  padding: 5px;
  text-align: center;
}